@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculadora de preços</h1>
    <a asp-controller="Produtos" asp-action="Index" class="btn btn-primary">Produtos</a>
</div>
