@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculadora de preços</h1>
    <button type="button" class="btn btn-primary btn-lg">Produtos</button>
</div>
