@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro</h1>
<h2 class="text-danger">Ocorreu um erro com a sua requisição</h2>

<p class="text-bg-danger">
    @Model.Message
</p>

@*
@if (Model.ShowRequestId) {
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}*@

<div>
    <a asp-action="Index" class="btn btn-secondary btn-sm">Voltar</a>
</div>